<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Hvegan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AExpress"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.example.Hvegan.activities.Screen1Activity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.Hvegan.activities.SignUpActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.Hvegan.activities.LoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.Hvegan.activities.ScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.Hvegan.activities.SearchActivity"
            android:exported="false"
            android:theme="@style/Theme.AExpress.Actionbar" />
        <activity
            android:name="com.example.Hvegan.activities.CategoryActivity"
            android:exported="false"
            android:theme="@style/Theme.AExpress.Actionbar" />
        <activity
            android:name="com.example.Hvegan.activities.PaymentActivity"
            android:exported="false"
            android:label="Payment"
            android:theme="@style/Theme.AExpress.Actionbar" />
        <activity
            android:name="com.example.Hvegan.activities.CheckoutActivity"
            android:exported="false"
            android:label="Checkout"
            android:theme="@style/Theme.AExpress.Actionbar" />
        <activity
            android:name="com.example.Hvegan.activities.CartActivity"
            android:exported="false"
            android:label="Shopping Cart"
            android:theme="@style/Theme.AExpress.Actionbar" />
        <activity
            android:name="com.example.Hvegan.activities.ProductDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.AExpress.Actionbar" />
        <activity
            android:name="com.example.Hvegan.activities.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>